In [4]:
from sklearn.datasets import fetch_openml
from sklearn.model_selection import train_test_split

from sklearn.linear_model import LogisticRegression
from sklearn.tree import DecisionTreeClassifier
from sklearn.multiclass import OneVsRestClassifier

from sklearn.metrics import accuracy_score, classification_report, multilabel_confusion_matrix

In [5]:
X, y = fetch_openml('yeast', version=4, return_X_y=True, as_frame=True)

In [6]:
X.head()

,Att1,Att2,Att3,Att4,Att5,Att6,Att7,Att8,Att9,Att10,...,Att94,Att95,Att96,Att97,Att98,Att99,Att100,Att101,Att102,Att103
0,0.004168,-0.170975,-0.156748,-0.142151,0.058781,0.026851,0.197719,0.041850,0.066938,-0.056617,...,0.006166,-0.012976,-0.014259,-0.015024,-0.010747,0.000411,-0.032056,-0.018312,0.030126,0.124722
1,-0.103956,0.011879,-0.098986,-0.054501,-0.007970,0.049113,-0.030580,-0.077933,-0.080529,-0.016267,...,0.007680,0.027719,-0.085811,0.111123,0.050541,0.027565,-0.063569,-0.041471,-0.079758,0.017161
2,0.509949,0.401709,0.293799,0.087714,0.011686,-0.006411,-0.006255,0.013646,-0.040666,-0.024447,...,0.096277,-0.044932,-0.089470,-0.009162,-0.012010,0.308378,-0.028053,0.026710,-0.066565,-0.122352
3,0.119092,0.004412,-0.002262,0.072254,0.044512,-0.051467,0.074686,-0.007670,0.079438,0.062184,...,-0.083809,0.200354,-0.075716,0.196605,0.152758,-0.028484,-0.074207,-0.089227,-0.049913,-0.043893
4,0.042037,0.007054,-0.069483,0.081015,-0.048207,0.089446,-0.004947,0.064456,-0.133387,0.068878,...,-0.060467,0.044351,-0.057209,0.028047,0.029661,-0.050026,0.023248,-0.061539,-0.035160,0.067834

In [7]:
y.head()

,Class1,Class2,Class3,Class4,Class5,Class6,Class7,Class8,Class9,Class10,Class11,Class12,Class13,Class14
0,FALSE,FALSE,FALSE,FALSE,FALSE,FALSE,TRUE,TRUE,FALSE,FALSE,FALSE,TRUE,TRUE,FALSE
1,FALSE,FALSE,TRUE,TRUE,FALSE,FALSE,FALSE,FALSE,FALSE,FALSE,FALSE,FALSE,FALSE,FALSE
2,FALSE,TRUE,TRUE,FALSE,FALSE,FALSE,FALSE,FALSE,FALSE,FALSE,FALSE,TRUE,TRUE,FALSE
3,FALSE,FALSE,TRUE,TRUE,FALSE,FALSE,FALSE,FALSE,FALSE,FALSE,FALSE,FALSE,FALSE,FALSE
4,FALSE,FALSE,TRUE,TRUE,TRUE,TRUE,FALSE,FALSE,FALSE,FALSE,FALSE,FALSE,FALSE,FALSE

In [8]:
def convert_cell(c):
    if c == 'FALSE':
        return 0
    return 1

y = y.applymap(convert_cell)

In [9]:
y

,Class1,Class2,Class3,Class4,Class5,Class6,Class7,Class8,Class9,Class10,Class11,Class12,Class13,Class14
0,0,0,0,0,0,0,1,1,0,0,0,1,1,0
1,0,0,1,1,0,0,0,0,0,0,0,0,0,0
2,0,1,1,0,0,0,0,0,0,0,0,1,1,0
3,0,0,1,1,0,0,0,0,0,0,0,0,0,0
4,0,0,1,1,1,1,0,0,0,0,0,0,0,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
2412,0,1,1,0,0,0,0,0,0,0,0,0,0,0
2413,1,1,0,0,0,0,0,0,0,0,0,1,1,0
2414,0,0,0,0,0,1,1,1,0,0,0,1,1,0
2415,0,0,0,0,0,0,0,0,0,0,0,1,1,0
2416,0,1,1,0,0,0,0,0,0,0,0,1,1,0

In [10]:
X_train, X_test, y_train, y_test = train_test_split(X, y)

In [12]:
model = DecisionTreeClassifier()
model.fit(X_train, y_train)

DecisionTreeClassifier()

In [13]:
model.score(X_test, y_test)

0.1537190082644628

In [14]:
p_test = model.predict(X_test)
print( classification_report( y_test, p_test ) )

              precision    recall  f1-score   support

           0       0.51      0.51      0.51       192
           1       0.55      0.50      0.52       270
           2       0.51      0.49      0.50       243
           3       0.51      0.56      0.53       206
           4       0.51      0.53      0.52       175
           5       0.37      0.38      0.38       143
           6       0.27      0.29      0.28       108
           7       0.25      0.23      0.24       124
           8       0.13      0.10      0.11        49
           9       0.14      0.11      0.12        70
          10       0.13      0.11      0.12        79
          11       0.79      0.78      0.78       459
          12       0.78      0.77      0.77       456
          13       0.12      0.14      0.13         7

   micro avg       0.55      0.54      0.55      2581
   macro avg       0.40      0.39      0.39      2581
weighted avg       0.55      0.54      0.55      2581
 samples avg       0.56      0.55      0.52      2581

In [15]:
multilabel_confusion_matrix(y_test, p_test)

array([[[321,  92],
        [ 95,  97]],

       [[225, 110],
        [135, 135]],

       [[247, 115],
        [124, 119]],

       [[288, 111],
        [ 91, 115]],

       [[339,  91],
        [ 82,  93]],

       [[367,  95],
        [ 88,  55]],

       [[413,  84],
        [ 77,  31]],

       [[394,  87],
        [ 95,  29]],

       [[522,  34],
        [ 44,   5]],

       [[484,  51],
        [ 62,   8]],

       [[466,  60],
        [ 70,   9]],

       [[ 50,  96],
        [102, 357]],

       [[ 50,  99],
        [107, 349]],

       [[591,   7],
        [  6,   1]]], dtype=int64)

In [16]:
single = LogisticRegression()
model = OneVsRestClassifier(single)

model.fit(X_train, y_train)
model.score(X_test, y_test)

0.15702479338842976

In [17]:
model.estimators_

[LogisticRegression(),
 LogisticRegression(),
 LogisticRegression(),
 LogisticRegression(),
 LogisticRegression(),
 LogisticRegression(),
 LogisticRegression(),
 LogisticRegression(),
 LogisticRegression(),
 LogisticRegression(),
 LogisticRegression(),
 LogisticRegression(),
 LogisticRegression(),
 LogisticRegression()]

In [18]:
model.multilabel_

True

In [19]:
model.predict(X_test[:5])

array([[0, 0, 1, 1, 0, 0, 0, 0, 0, 0, 0, 1, 1, 0],
       [0, 1, 1, 0, 0, 0, 0, 0, 0, 0, 0, 1, 1, 0],
       [0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 1, 1, 0],
       [0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 1, 1, 0],
       [1, 1, 0, 0, 0, 0, 0, 0, 0, 0, 0, 1, 1, 0]])

In [20]:
model.predict_proba(X_test[:5])

array([[0.14599083, 0.35262186, 0.63447891, 0.5273711 , 0.43791833,
        0.46911693, 0.24030926, 0.32708769, 0.10221513, 0.05432931,
        0.05457203, 0.80778253, 0.82086309, 0.01130377],
       [0.17168102, 0.64248271, 0.81550069, 0.1704969 , 0.15111521,
        0.32037726, 0.15889499, 0.18280788, 0.08520751, 0.06965317,
        0.09720082, 0.66758269, 0.64281936, 0.01799004],
       [0.41958687, 0.49467867, 0.34223169, 0.20484876, 0.21027485,
        0.3474093 , 0.17487278, 0.18490336, 0.06789186, 0.11302867,
        0.15225576, 0.60897746, 0.57178578, 0.01828774],
       [0.21268248, 0.3892548 , 0.27484159, 0.13448163, 0.49192688,
        0.4131294 , 0.29208162, 0.30328876, 0.06686916, 0.1156472 ,
        0.12735867, 0.80296464, 0.79210927, 0.0134258 ],
       [0.68917537, 0.70460154, 0.44775781, 0.12687318, 0.04314046,
        0.09443173, 0.07999962, 0.13406751, 0.11233821, 0.096799  ,
        0.1041249 , 0.56200183, 0.53804805, 0.01796968]])