In [2]:
from joblib import load
import pandas as pd

In [3]:
df = pd.read_csv('hour.csv')
X = df.sample(10)

In [4]:
X

,instant,dteday,season,yr,mnth,hr,holiday,weekday,workingday,weathersit,temp,atemp,hum,windspeed,casual,registered,cnt
6718,6719,2011-10-12,4,0,10,12,0,3,1,3,0.54,0.5152,0.88,0.3284,9,53,62
6153,6154,2011-09-18,3,0,9,23,0,0,0,1,0.54,0.5152,0.68,0.1940,10,44,54
665,666,2011-01-31,1,0,1,1,0,1,1,1,0.22,0.2121,0.64,0.2537,2,5,7
9256,9257,2012-01-26,1,1,1,14,0,4,1,2,0.40,0.4091,0.71,0.1045,16,112,128
7168,7169,2011-10-31,4,0,10,7,0,1,1,1,0.24,0.2879,0.93,0.0000,11,216,227
704,705,2011-02-01,1,0,2,17,0,2,1,2,0.24,0.2879,0.75,0.0000,4,172,176
12668,12669,2012-06-17,2,1,6,1,0,0,0,1,0.56,0.5303,0.60,0.1642,21,67,88
13272,13273,2012-07-12,3,1,7,5,0,4,1,1,0.62,0.5909,0.73,0.1045,4,40,44
810,811,2011-02-06,1,0,2,5,0,0,0,1,0.26,0.2576,0.60,0.2239,0,1,1
13163,13164,2012-07-07,3,1,7,16,0,6,0,1,1.00,0.8636,0.19,0.1642,102,192,294

In [5]:
pipeline = load('bikes_pipeline.joblib')

In [6]:
pipeline.predict(X)

c:\users\piero\desktop\corso_ml_python_youtube_pollo\venv\lib\site-packages\sklearn\compose\_column_transformer.py:430: FutureWarning: Given feature/column names or counts do not match the ones for the data given during fit. This will fail from v0.24.
  FutureWarning)

array([ 163.7230577 ,   79.9016453 , -104.23211634,  195.75817086,
        165.67421425,  301.62050019,  109.01542036,   99.64875522,
        -98.51438331,  469.85530495])

In [7]:
X['pred'] = pipeline.predict(X)

c:\users\piero\desktop\corso_ml_python_youtube_pollo\venv\lib\site-packages\sklearn\compose\_column_transformer.py:430: FutureWarning: Given feature/column names or counts do not match the ones for the data given during fit. This will fail from v0.24.
  FutureWarning)

In [8]:
X

,instant,dteday,season,yr,mnth,hr,holiday,weekday,workingday,weathersit,temp,atemp,hum,windspeed,casual,registered,cnt,pred
6718,6719,2011-10-12,4,0,10,12,0,3,1,3,0.54,0.5152,0.88,0.3284,9,53,62,163.723058
6153,6154,2011-09-18,3,0,9,23,0,0,0,1,0.54,0.5152,0.68,0.1940,10,44,54,79.901645
665,666,2011-01-31,1,0,1,1,0,1,1,1,0.22,0.2121,0.64,0.2537,2,5,7,-104.232116
9256,9257,2012-01-26,1,1,1,14,0,4,1,2,0.40,0.4091,0.71,0.1045,16,112,128,195.758171
7168,7169,2011-10-31,4,0,10,7,0,1,1,1,0.24,0.2879,0.93,0.0000,11,216,227,165.674214
704,705,2011-02-01,1,0,2,17,0,2,1,2,0.24,0.2879,0.75,0.0000,4,172,176,301.620500
12668,12669,2012-06-17,2,1,6,1,0,0,0,1,0.56,0.5303,0.60,0.1642,21,67,88,109.015420
13272,13273,2012-07-12,3,1,7,5,0,4,1,1,0.62,0.5909,0.73,0.1045,4,40,44,99.648755
810,811,2011-02-06,1,0,2,5,0,0,0,1,0.26,0.2576,0.60,0.2239,0,1,1,-98.514383
13163,13164,2012-07-07,3,1,7,16,0,6,0,1,1.00,0.8636,0.19,0.1642,102,192,294,469.855305