In [7]:
from joblib import load
import pandas as pd

In [8]:
pipeline = load('bike_pipeline.joblib')

In [9]:
pipeline

Pipeline(memory=None,
         steps=[('column_trans',
                 ColumnTransformer(n_jobs=None, remainder='drop',
                                   sparse_threshold=0.3,
                                   transformer_weights=None,
                                   transformers=[['one_hot',
                                                  OneHotEncoder(categories='auto',
                                                                drop=None,
                                                                dtype=<class 'numpy.float64'>,
                                                                handle_unknown='error',
                                                                sparse=True),
                                                  ['weathersit', 'season', 'yr',
                                                   'mnth', 'hr', 'weekday']],
                                                 ['scaler',
                                                  RobustScaler(copy=T...
                              beta_1=0.9, beta_2=0.999, early_stopping=False,
                              epsilon=1e-08, hidden_layer_sizes=[50, 50, 50],
                              learning_rate='constant',
                              learning_rate_init=0.001, max_fun=15000,
                              max_iter=5000, momentum=0.9, n_iter_no_change=10,
                              nesterovs_momentum=True, power_t=0.5,
                              random_state=None, shuffle=True, solver='adam',
                              tol=-1, validation_fraction=0.1, verbose=2,
                              warm_start=False)]],
         verbose=False)

In [11]:
df = pd.read_csv('hour.csv').sample(5)
df

,instant,dteday,season,yr,mnth,hr,holiday,weekday,workingday,weathersit,temp,atemp,hum,windspeed,casual,registered,cnt
3166,3167,2011-05-16,2,0,5,20,0,1,1,1,0.58,0.5455,0.83,0.0000,31,167,198
7417,7418,2011-11-10,4,0,11,16,0,4,1,3,0.36,0.3485,0.81,0.2239,6,67,73
11945,11946,2012-05-17,2,1,5,22,0,4,1,1,0.56,0.5303,0.43,0.0896,42,209,251
10066,10067,2012-02-29,1,1,2,12,0,3,1,3,0.32,0.3030,0.93,0.3284,1,69,70
1756,1757,2011-03-18,1,0,3,21,0,5,1,1,0.62,0.6212,0.46,0.1045,22,91,113

In [16]:
df['prediction'] = pipeline.predict(df)

c:\users\piero\desktop\corso_ml_python_youtube_pollo\venv\lib\site-packages\sklearn\compose\_column_transformer.py:430: FutureWarning: Given feature/column names or counts do not match the ones for the data given during fit. This will fail from v0.24.
  FutureWarning)

In [17]:
df[ ['cnt', 'predictions'] ]

       cnt  predictions
3166   198   246.571957
7417    73    77.097052
11945  251   243.905904
10066   70    60.935988
1756   113   130.466886